<p id="notice"><%= notice %></p>

<h1>Listing Class Gs</h1>

<table>
  <thead>
    <tr>
      <th>Col1</th>
      <th>Col2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_gs.each do |class_g| %>
      <tr>
        <td><%= class_g.col1 %></td>
        <td><%= class_g.col2 %></td>
        <td><%= link_to 'Show', class_g %></td>
        <td><%= link_to 'Edit', edit_class_g_path(class_g) %></td>
        <td><%= link_to 'Destroy', class_g, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Class g', new_class_g_path %>
