<p id="notice"><%= notice %></p>

<p>
  <strong>Col1:</strong>
  <%= @class_g.col1 %>
</p>

<p>
  <strong>Col2:</strong>
  <%= @class_g.col2 %>
</p>

<%= link_to 'Edit', edit_class_g_path(@class_g) %> |
<%= link_to 'Back', class_gs_path %>
