<p id="notice"><%= notice %></p>

<ul>
  <li><a href="http://localhost:3000/artists">Artists</a></li>
  <li><a href="http://localhost:3000/albums">Albums</a></li>
  <li><a href="http://localhost:3000/songs">Songs</a></li>
  <li><a href="http://localhost:3000/genres">Genres</a></li>
</ul>

<h1>Listing Artists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.name %></td>
        <td><%= link_to 'Show', artist %></td>
        <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
        <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artist', new_artist_path %>
